$yellow: rgba(240, 200, 8, 1);
$yellow-75: rgba(240, 200, 8, 0.75);
$yellow-50: rgba(240, 200, 8, 0.5);
$yellow-25: rgba(240, 200, 8, 0.25);

$blue: rgba(53, 129, 184, 1);
$blue-75: rgba(53, 129, 184, 0.75);
$blue-50: rgba(53, 129, 184, 0.5);
$blue-25: rgba(53, 129, 184, 0.25);

$black: rgba(8, 7, 8, 1);
$black-75: rgba(8, 7, 8, 0.75);
$black-50: rgba(8, 7, 8, 0.5);
$black-25: rgba(8, 7, 8, 0.25);

$red: rgba(250, 51, 47, 1);
$red-75: rgba(250, 51, 47, 0.75);
$red-50: rgba(250, 51, 47, 0.50);
$red-25: rgba(250, 51, 47, 0.25);

$green: rgba(49, 233, 129, 1);
$green-75: rgba(49, 233, 129, 0.75);
$green-50: rgba(49, 233, 129, 0.5);
$green-25: rgba(49, 233, 129, 0.25);

$pink: rgba(255, 153, 219, 1);
$pink-75: rgba(255, 153, 219, 0.75);
$pink-50: rgba(255, 153, 219, 0.5);
$pink-25: rgba(255, 153, 219, 0.25);

$white: rgba(210, 225, 225, 1);
$white-75: rgba(210, 225, 225, 0.75);
$white-50: rgba(210, 225, 225, 0.50);
$white-25: rgba(210, 225, 225, 0.25);

//fonts

$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Covered By Your Grace', cursive;

